MONGO_URI=MONGODB_DB_CONNECT

# Generate jwt secret
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=JWT_SECRET

ADMIN_INVITE_TOKEN=ADMIN_INVITE_TOKEN_DIGITS

PORT=8000